/*Pagina Acerca de mi*/

html, body {
    margin: 0;
    font-family:'Poppins', sans-serif;
    overflow-x: hidden;
}

a:hover{
    text-decoration: none;
}

.navigation {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background: linear-gradient(118.15deg, #FAAB2A 0%, #FEC136 87.77%);
    position: absolute;
    right: 0;
    top: -100%;
    transition: top 350ms ease-in-out;
    z-index: 2;
    height: 100%;
    width: 100%;
    list-style-type: none;
    padding: 0;
}

.navigation li{
    list-style-type: none;
}

.menu{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 7%;
    right: 8%;
    z-index: 3;
    cursor: pointer;
    fill: #13161B;
}

.equis{
    display: none;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 7%;
    right: 8%;
    z-index: 3;
    cursor: pointer;
    fill: #13161B;;
}    

.menu-open .navigation {
    top: 0;
}

.menu-open .menu{
    display: none;
}

.menu-open .equis{ 
    display: block; 
}

.menu-open .logo{ 
    color: #13161B; 
    font-weight: 800;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3px;
    position: absolute;
    left: 37%;
    top: 7%;
    z-index: 3;
} 

.texto-menu{
    font-size: 40px;
    font-weight: 800;
    color: #13161B;
    text-align: center;
    margin-bottom: 25px;
}

.texto-menu:hover{
    text-decoration: underline;
    font-size: 40px;
    font-weight: 800;
    color: #13161B;
    text-align: center;
    margin-bottom: 25px;
}

.texto-menu2{
    font-size: 14px;
    font-weight: 500;
    color: #13161B;
    text-align: center;
    margin-bottom: 15px;
    position: absolute;
    left: 22%;
    top: 75%;
    z-index: 3;
    display: none;
    transition: top 350ms ease-in-out;
}

.menu-open .texto-menu2{ 
    display: block; 
}

.email-link{ 
    font-size: 14px;
    font-weight: 500;
    color: #13161B;
    text-align: right;
}

.email-link:hover{ 
    font-size: 14px;
    font-weight: 500;
    color: #13161B;
    text-align: right;
    text-decoration: underline;
}

.logo{
    color: #13161B;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    position: absolute;
    left: 37%;
    top: 7%;
    z-index: 3;
} 

h1{
    font-size: 35px;
    font-weight: 800;
    color: #13161B;
    margin-bottom: 25px;
}

h2{
    font-size: 30px;
    font-weight: 600;
    color: #FAAB2A;
    margin-bottom: 20px;
}

p{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 25px;
    line-height: 140%;
    color: #13161B;
}

.p2{
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 25px;
    line-height: 140%;
}

.p3{
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 25px;
    line-height: 140%;
}

.p4{
    font-size: 90px;
    font-weight: 800;
    line-height: 140%;
}

.p5{
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 15px;
    line-height: 140%;
    color: #fff;
    text-align: center; 
}

.razones-1 .p2{
    color: #fff;
}

.razones-1 .p3{
    color: #fff;
}

.razones-1 .p4{
    -webkit-text-stroke: 3px rgb(255, 255, 255);
    paint-order: stroke fill;
}

.razones-2 .p2{
    color: #13161B;
}

.razones-2 .p4{
    -webkit-text-stroke: 3px rgb(19, 22, 27);
    paint-order: stroke fill;
    color: #fff
}

.razones-3 .p4{
    -webkit-text-stroke: 3px rgb(19, 22, 27);
    paint-order: stroke fill;
    color: #FAAB2A
}

.razones-4 .p2{
    color: #fff;
}

.razones-4 .p4{
    -webkit-text-stroke: 3px rgb(255, 255, 255);
    paint-order: stroke fill;
}

.razones-5 .p4{
    -webkit-text-stroke: 3px rgb(19, 22, 27);
    paint-order: stroke fill;
    color: #fff
}

.hero-about .p3{
    color: #13161B;
    text-decoration: underline;
}

.hero-about{
    background: linear-gradient(108.15deg, #FAAB2A 0%, #FEC136 78.7%);
    height: 1300px;
    width: 100%;
}

.about1{
    width: 80%;
    margin: 0 auto 30px auto;
    position: relative;
    top: 8%;
    text-align: center;
} 

.about2{
    width: 80%;
    margin: 0 auto 60px auto;
    position: relative;
    top: 8%;
} 

.ricardo{
    width: 168px;
    margin-bottom: 30px;
} 

.razones-1{
    background: #13161B;
    height: 775px;
    width: 100%;
}

.razones-2{
    background: #fff;
    height: 775px;
    width: 100%;
}

.razones-3{
    background: #FAAB2A;
    height: 775px;
    width: 100%;
}

.razones-4{
    background: #13161B;
    height: 775px;
    width: 100%;
}

.razones-5{
    background: #fff;
    height: 775px;
    width: 100%;
}

.tools{
    background: #13161B;
    height: 950px;
    width: 100%;
}

.wrapper-why{
    width: 80%;
    margin: 0 auto 40px auto;
    text-align: center;
    position: relative;
    top: 5%;
} 

.wrapper1{
    width: 90%;
    margin: 0 auto 40px auto;
    position: relative;
    top: 10%;
    text-align: center;
} 

.wrapper2{
    width: 330px;
    margin: 0 auto 0 auto;
    position: relative;
    top: 10%;
} 

.wrapper1-1{
    width: 90%;
    margin: 0 auto 40px auto;
    position: relative;
    top: 5%;
    text-align: center;
} 

.wrapper2-2{
    width: 330px;
    margin: 0 auto 0 auto;
    position: relative;
    top: 5%;
} 

.wrapper-tools{
    width: 300px;
    margin: 0 auto 0 auto;
    position: relative;
    top: 8%;
    left: 0%;
    text-align: center;
} 

.gif1{
    width: 310px;
    height: 310px;
}

.gif2{
    width: 330px;
    height: 280px;
}

.imagen-tools{
    width: 286px;
    height: 551px;
    background-image: url(img/tools_mobile.png);
    background-size: cover;
    background-position: center;
    margin: 0 auto 80px auto;
    position: relative;
    top: 9%;
    text-align: center;
}

@media only screen and (min-width: 1024px) {
    
    html, body {
        margin: 0;
        font-family:'Poppins', sans-serif;
        overflow-x: hidden;
    }
    
    a:hover{
        text-decoration: none;
    }
    
    .navigation {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        background: linear-gradient(118.15deg, #FAAB2A 0%, #FEC136 87.77%);
        position: absolute;
        right: 0;
        top: -100%;
        transition: top 350ms ease-in-out;
        z-index: 2;
        height: 100%;
        width: 100%;
        list-style-type: none;
        padding: 0;
    }
    
    .navigation li{
        list-style-type: none;
    }
    
    .menu{
        height: 20px;
        width: 20px;
        position: absolute;
        top: 7%;
        right: 8%;
        z-index: 3;
        cursor: pointer;
        fill: #13161B;
    }
    
    .equis{
        display: none;
        height: 20px;
        width: 20px;
        position: absolute;
        top: 7%;
        right: 8%;
        z-index: 3;
        cursor: pointer;
        fill: #13161B;;
    }    
    
    .menu-open .navigation {
        top: 0;
    }
    
    .menu-open .menu{
        display: none;
    }
    
    .menu-open .equis{ 
        display: block; 
    }
    
    .menu-open .logo{ 
        color: #13161B; 
        font-weight: 800;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 3px;
        position: absolute;
        left: 46.5%;
        top: 7%;
        z-index: 3;
    } 
    
    .texto-menu{
        font-size: 80px;
        font-weight: 800;
        color: #13161B;
        text-align: center;
        margin-bottom: 25px;
    }
    
    .texto-menu:hover{
        text-decoration: underline;
        font-size: 80px;
        font-weight: 800;
        color: #13161B;
        text-align: center;
        margin-bottom: 25px;
    }
    
    .texto-menu2{
        text-align: right;
        margin-bottom: 15px;
        position: absolute;
        right: 8%;
        top: 16%;
        z-index: 3;
        transition: top 350ms ease-in-out;
    }
    
    .menu-open .texto-menu2{ 
        display: block; 
    }
    
    .email-link{ 
        font-size: 14px;
        font-weight: 500;
        color: #13161B;
        text-align: right;
    }
    
    .email-link:hover{ 
        font-size: 14px;
        font-weight: 500;
        color: #13161B;
        text-align: right;
        text-decoration: underline;
    }
    
    .logo{
        color: #13161B;
        font-size: 16px;
        font-weight: 800;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 3px;
        position: absolute;
        left: 46.5%;
        top: 7%;
        z-index: 3;
    } 

    .logo:hover{
        color: #13161B;
        text-decoration: none;
    } 
    
    h1{
        font-size: 35px;
        font-weight: 800;
        color: #13161B;
        margin-bottom: 25px;
    }
    
    h2{
        font-size: 35px;
        font-weight: 800;
        color: #FAAB2A;
        margin-bottom: 10px;
    }
    
    p{
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 25px;
        line-height: 140%;
        color: #13161B;
    }
    
    .p2{
        font-size: 35px;
        font-weight: 400;
        line-height: 140%;
    }
    
    .p3{
        font-size: 15px;
        font-weight: 400;
        line-height: 140%;
        margin-bottom: 25px;
    }
    
    .p4{
        font-size: 90px;
        font-weight: 800;
        line-height: 140%;
    }
    
    .p5{
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 15px;
        line-height: 140%;
        color: #fff;
        text-align: center; 
    }
    
    .razones-1 .p2{
        color: #fff;
    }
    
    .razones-1 .p3{
        color: #fff;
    }
    
    .razones-1 .p4{
        -webkit-text-stroke: 3px rgb(255, 255, 255);
        paint-order: stroke fill;
    }
    
    .razones-2 .p2{
        color: #13161B;
    }
    
    .razones-2 .p4{
        -webkit-text-stroke: 3px rgb(19, 22, 27);
        paint-order: stroke fill;
        color: #fff
    }
    
    .razones-3 .p4{
        -webkit-text-stroke: 3px rgb(19, 22, 27);
        paint-order: stroke fill;
        color: #FAAB2A
    }
    
    .razones-4 .p2{
        color: #fff;
    }
    
    .razones-4 .p4{
        -webkit-text-stroke: 3px rgb(255, 255, 255);
        paint-order: stroke fill;
    }
    
    .razones-5 .p4{
        -webkit-text-stroke: 3px rgb(19, 22, 27);
        paint-order: stroke fill;
        color: #fff
    }
    
    .hero-about .p3{
        color: #13161B;
        text-decoration: underline;
    }
    
    .hero-about{
        background: linear-gradient(108.15deg, #FAAB2A 0%, #FEC136 78.7%);
        height: 100vh;
        width: 100%;
    }
    
    .about1{
        width: 643px;
        position: absolute;
        left: 50%;
        top: 53%;
        transform: translate(-50%, -50%);
        text-align: left;
    } 
        
    .ricardo{
        width: 100px;
    } 
    
    .razones-1{
        background: #13161B;
        position: relative;
        height: 100vh;
        width: 100%;
    }
    
    .razones-2{
        background: #fff;
        position: relative;
        height: 100vh;
        width: 100%;
    }
    
    .razones-3{
        background: #FAAB2A;
        position: relative;
        height: 100vh;
        width: 100%;
    }
    
    .razones-4{
        background: #13161B;
        position: relative;
        height: 100vh;
        width: 100%;
    }
    
    .razones-5{
        background: #fff;
        position: relative;
        height: 100vh;
        width: 100%;
    }
    
    .tools{
        background: #13161B;
        height: 100vh;
        width: 100%;
    }
    
    .wrapper1{
        width: 500px;
        margin: 0 30px 0 30px;
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-50%, -50%);
        text-align: center;
    } 

    .wrapper2{
        width: 425px;
        margin: 0;
        position: relative;
        top: 48%;
        left: 80%;
        transform: translate(-50%, -50%);
    } 

    .wrapper1-1{
        width: 500px;
        margin: 0 30px 0 30px;
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-50%, -50%);
        text-align: center;
    } 

    .wrapper2-2{
        width: 425px;
        margin: 0;
        position: relative;
        top: 39%;
        left: 80%;
        transform: translate(-50%, -50%);
    } 

    .wrapper-why{
        width: 55%;
        margin: 0 auto;
        text-align: center;
        position: relative;
        top: 10%;
    } 
    
    .wrapper-tools{
        width: 500px;
        margin: 0 auto 0 auto;
        position: relative;
        top: 45%;
        left: 0%;
        text-align: center;
    } 
    
    .gif{
        width: 400px;
        height: 400px;
    }

    .gif2{
        width: 400px;
        height: 350px;
    }
    
    .imagen-tools{
        width: 990px;
        height: 131px;
        background-image: url(img/tools_desktop.png);
        background-size: cover;
        background-position: center;
        margin: 0 auto 80px auto;
        position: relative;
        top: 35%;
        text-align: center;
    }


}